<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUCoins - Editar Aluno</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleFormCadastro.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>

<body>

  <%- include ('partials/nav.ejs'); %>
    
      <form>

        <div class="container">

          <div class="col-sm-12">
            <div class="col-sm-12" style="align-self: center;">
              <div class="card">
                <h5 class="card-header">Aluno</h5>

                <div class="form-group">
                  <label for="nomeAluno" style="padding: 5px;">Nome do aluno</label>
                  <label class="form-control"><%= aluno.nome %></label>
                </div>

                <div class="form-group">
                  <label for="emailAluno" style="padding: 5px;">Email</label>
                  <label class="form-control"><%= aluno.email %></label>
                </div>

                <div class="form-group">
                  <label for="cpfAluno" style="padding: 5px;">CPF</label>
                  <label class="form-control"><%= aluno.cpf %></label>
                </div>

                <div class="form-group">
                  <label for="rgAluno" style="padding: 5px;">RG</label>
                  <label class="form-control"><%= aluno.rg %></label>
                </div>

                <div class="form-group">
                  <label for="endAluno" style="padding: 5px;">Endereço</label>
                  <textarea name="endereco" class="form-control" name="" id="endAluno" cols="30" rows="2"><%= aluno.endereco %></textarea>
                </div>

                <div class="form-group">
                  <label for="cursoAluno" style="padding: 5px;">Curso</label>
                  <label class="form-control"><%= aluno.curso %></label>
                </div>


                <div class="col-sm-12" style="text-align: center; padding-bottom: 10px;">
                    <a href="/alunos">Voltar</a>
                </div>
              </div>
            </div>
          </div>
      </form>
    </div>
</body>

</html>