<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUCoins - Vantagens da Empresa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="icon" type="image/png" href="../public/imgs/coin.png">
</head>

<body>

    <%- include ('partials/nav.ejs'); %>

        <div class="row" style="padding: 10px; text-align: center;">
            <div class="col-sm-12">
                <h1 style="color: white;">Vantagens da <%= empresa.nome %></h1>
            </div>
        </div>

        <div class="row" style="padding: 10px;">
            <div class="col-sm-12">
                <table class="table table-striped table-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome Vantagem</th>
                            <th scope="col">Valor em PUCoins</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% vantagens.forEach(vantagem=> {%>


                            <tr>
                                <th scope="row">
                                    <%= vantagem.id %>
                                </th>
                                <td>
                                    <a href="/consultarVantagens/<%= vantagem.id %>" style="text-decoration: none; padding-right: 5px; color: black;"><%= vantagem.nome %></a>
                                </td>
                                <td>
                                    <%= vantagem.preco %>
                                </td>
                                <td>
                                    <form method="post" action="/vantagens/resgatar/<%= vantagem.id %>">
                                        <button type="submit" class="btn btn-primary">
                                            Trocar
                                        </button>
                                    </form>

                                </td>
                            </tr>

                            <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
</body>

<script>
    function confirmarTroca(event, form) {
        event.preventDefault();

        var decision = confirm("Deseja realmente trocar suas PUCoins por esta vantagem?");

        if (decision) {
            form.submit();
        }
    }
</script>

</html>